.Team {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.TitleCard{
    background-color: #8ECAE6;
    width: 75%;
    margin: 25px;
    margin-top: 25px;
    height: 35%;
    border: 8px solid #219EBC;
    border-radius: 2vmin;
}

body{
    display: grid;
}

aside{
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #219EBC;
    border: 8px solid #219EBC;
    border-radius: 2vmin;
    height: fit-content;
    margin-top: 25px;
    margin: 25px 50px;
}

.TeamAndPic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px
}

.right-side {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.Plot {
    background-color: #8ECAE6;
    width: 75%;
    border: 8px solid #219EBC;
    padding: 15px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 25px;
    border-radius: 2vmin;
}

.ReviewForm {
    background-color: #8ECAE6;
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: black;
    border: 8px solid #219EBC;
    border-radius: 2vmin;
    padding: 15px;
}

button[type="submit"] {
    margin: 5px;
    background-color: #219EBC;
}

aside > a {
    background-color: #219EBC;
    color: white;
}

span {
    font-size: 25px;
}

.ReviewsTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.ReviewMiddle{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vmin;
}

.ReviewMiddle button {
    font-size:  1vmin;
}

.TitleCard h1 {
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.ReviewForm h2 {    
    font-size: 2em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    margin-top: 0;
}

.ReviewForm label {
    color: #404040;
    margin-right: 5px;
}

.ReviewsTitle{
    font-size: 2em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

.ReviewsDisplay{
    align-self: center;
    width: 75%;
}

thead, tbody, tr {
    width: 100%;
}

tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

td {
    width: 25%;
    display: flex;
    justify-content: left;
}

.Team span {
    color: #fb6c2f;
}

.NotUser {
    width: 7vmin;
}

.DeleteButton {
    display: flex;
    justify-content: flex-end;
}

.Rating {
    display: flex;
    justify-content: center;
}