.Team {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.TitleCard{
    background-color: #8ECAE6;
    width: 75%;
    margin: 25px;
    height: 35%;
    border: 8px solid #219EBC;
    border-radius: 2vmin;
}

body{
    display: grid;
}

aside{
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #219EBC;
    border: 8px solid #219EBC;
    border-radius: 2vmin;
    height: fit-content;
}

.TeamAndPic{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 25px
}

.right-side {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.Plot {
    background-color: #8ECAE6;
    width: 75%;
    border: 8px solid #219EBC;
    padding: 15px;
    border-radius: 2vmin;
}

.ReviewForm {
    background-color: #8ECAE6;
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: black;
    border: 8px solid #219EBC;
    border-radius: 2vmin;
    padding: 15px;
}

button[type="submit"] {
    margin: 5px;
    background-color: #219EBC;
}

aside > a {
    background-color: #219EBC;
    color: white;
}

span {
    font-size: 25px;
}

.ReviewTable{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    width: 67vmin;
}

.ReviewMiddle{
    font-size: 20;
    display: flex;
    justify-content: space-between;
    width: 65vmin;
}