Nav{
    background-color: #fb6c2f;
    padding: 15px;
    border-radius: 2vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed; 
    top: 0;
    width: 95%;  */
}

Nav a {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

Nav a:hover {
    transform: scale(1.1);
}

span {
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.Title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    text-decoration: none;
}