.SearchPostersReviews {
   display: flex;
   flex-direction: column;
   align-items: center;
    border-radius: 2vmin;
    margin: 15px;
    border: solid 2px navy;
}
.SearchPostersReviews h1 {
    background-color: #219EBC;
    border-radius: 3px;
    padding: 0px 5px;
    margin: 15px;
    color: navy;
    text-decoration: none;
}

.MovieSearchReviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:fit-content;
}

.ReviewMiddleReviews {
    font-size: 20;
    display: flex;
    justify-content: space-around;
    width: 45vmin;
    margin: 7px;
}

.MainPortionReviews {
    display: flex;
    justify-content: center;
}

.MovieReviews {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
}

.Reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .MovieSearchReviews{
        display: flex;
        flex-direction: column;
    }
}
