.SearchPosters {
   
    border-radius: 2vmin;
    margin: 15px;
}

.SearchPosters h1 {
    background-color: #219EBC;
    border-radius: 3px;
    padding: 0px 5px;
    margin: 15px;
    color: navy;
    text-decoration: none;
}

.MovieSearch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.MovieSearchForm {
    display: flex;
    justify-self: center;
    background-color: #8ECAE6;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    border: 8px solid #219EBC;
    border-radius: 2vmin;
    padding: 15px;
}

.mainPortion {
    display: flex;
    justify-content: center;
}

.CenterForm {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.MovieToSearch {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
}

.InTheaters {
    font-size: 35px;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .MovieSearch{
        display: flex;
        flex-direction: column;
    }
}